<a href="https://colab.research.google.com/github/mietekdom/Data_Science_Cases/blob/master/Stock_Market_All.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import plotly
import pandas as pd
import plotly
import plotly.graph_objects as go

In [2]:
import plotly.express as px

In [3]:
def fetch_financial_data(company):
  import pandas_datareader.data as web
  return web.DataReader(name=company, data_source='stooq')

pzu = fetch_financial_data('PZU.PL')
pkn = fetch_financial_data('PKN.PL')
ge = fetch_financial_data('GE')
co = fetch_financial_data('KO')

In [4]:
pzu.columns = ['pzu_' + col.lower() for col in pzu.columns]
pkn.columns = ['pkn_' + col.lower() for col in pkn.columns]
ge.columns = ['ge_' + col.lower() for col in ge.columns]
co.columns = ['co_' + col.lower() for col in co.columns]

In [5]:
data_all = pd.concat(objs=[pkn, pzu, ge, co], axis=1)
data_all

            pkn_open  pkn_high  pkn_low  ...  co_low  co_close   co_volume
Date                                     ...
2015-10-22    54.256    54.515   52.979  ...  36.005    36.712  42309364.0
2015-10-23    54.256    55.549   53.565  ...  36.295    36.327  22139327.0
2015-10-26    54.903    56.584   54.687  ...  36.049    36.158  17418997.0
2015-10-27    55.626    56.378   55.256  ...  36.067    36.178  35532465.0
2015-10-28    55.730    55.964   54.403  ...  35.838    36.278  16098360.0
...              ...       ...      ...  ...     ...       ...         ...
2020-10-14    44.000    44.060   42.820  ...  49.650    50.120  10582935.0
2020-10-15    42.800    42.950   40.760  ...  49.300    49.990   9963190.0
2020-10-16    40.820    42.450   40.020  ...  49.870    50.030  13570887.0
2020-10-19    42.930    43.400   42.280  ...  49.460    49.620   9930443.0
2020-10-20    42.600    43.080   41.440  ...     NaN       NaN         NaN

[1290 rows x 20 columns]

In [9]:
data_all.describe().T

             count          mean  ...           75%           max
pkn_open    1247.0  8.004934e+01  ...  9.634350e+01  1.229200e+02
pkn_high    1247.0  8.114451e+01  ...  9.771350e+01  1.229200e+02
pkn_low     1247.0  7.885572e+01  ...  9.527000e+01  1.208600e+02
pkn_close   1247.0  7.998250e+01  ...  9.641000e+01  1.225000e+02
pkn_volume  1247.0  1.066982e+06  ...  1.287408e+06  7.733447e+06
pzu_open    1247.0  3.345022e+01  ...  3.861400e+01  4.224600e+01
pzu_high    1247.0  3.380727e+01  ...  3.894050e+01  4.242300e+01
pzu_low     1247.0  3.303529e+01  ...  3.819600e+01  4.177200e+01
pzu_close   1247.0  3.341690e+01  ...  3.858350e+01  4.222800e+01
pzu_volume  1247.0  2.145414e+06  ...  2.561996e+06  1.472682e+07
ge_open     1257.0  1.729472e+01  ...  2.700400e+01  3.029000e+01
ge_high     1257.0  1.746793e+01  ...  2.728300e+01  3.032500e+01
ge_low      1257.0  1.711523e+01  ...  2.683500e+01  3.008500e+01
ge_close    1257.0  1.728380e+01  ...  2.706100e+01  3.026100e+01
ge_volume   1257.0  6.993084e+07  ...  8.557178e+07  4.802855e+08
co_open     1257.0  4.293011e+01  ...  4.644000e+01  5.828400e+01
co_high     1257.0  4.322087e+01  ...  4.676000e+01  5.859600e+01
co_low      1257.0  4.263171e+01  ...  4.596700e+01  5.810000e+01
co_close    1257.0  4.292986e+01  ...  4.631600e+01  5.859600e+01
co_volume   1257.0  1.449445e+07  ...  1.659993e+07  6.236257e+07

[20 rows x 8 columns]

In [10]:
data_all.columns

Index(['pkn_open', 'pkn_high', 'pkn_low', 'pkn_close', 'pkn_volume',
       'pzu_open', 'pzu_high', 'pzu_low', 'pzu_close', 'pzu_volume', 'ge_open',
       'ge_high', 'ge_low', 'ge_close', 'ge_volume', 'co_open', 'co_high',
       'co_low', 'co_close', 'co_volume'],
      dtype='object')

In [16]:
close_all = [col for col in data_all.columns if col.endswish('pkn_close')]
close_all

AttributeError: ignored

Diagrams