<a href="https://colab.research.google.com/github/mietekdom/Data_Science_Cases/blob/master/Stock_Market_All.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import plotly
import pandas as pd
import plotly
import plotly.graph_objects as go

In [2]:
import plotly.express as px

In [3]:
def fetch_financial_data(company):
  import pandas_datareader.data as web
  return web.DataReader(name=company, data_source='stooq')

pzu = fetch_financial_data('PZU.PL')
pkn = fetch_financial_data('PKN.PL')
ge = fetch_financial_data('GE')
co = fetch_financial_data('KO')

In [4]:
pzu.columns = ['pzu_' + col.lower() for col in pzu.columns]
pkn.columns = ['pkn_' + col.lower() for col in pkn.columns]
ge.columns = ['ge_' + col.lower() for col in ge.columns]
co.columns = ['co_' + col.lower() for col in co.columns]

In [5]:
data_all = pd.concat(objs=[pkn, pzu, ge, co], axis=1)
data_all

            pkn_open  pkn_high  pkn_low  ...  co_low  co_close   co_volume
Date                                     ...
2015-10-22    54.256    54.515   52.979  ...  36.005    36.712  42309364.0
2015-10-23    54.256    55.549   53.565  ...  36.295    36.327  22139327.0
2015-10-26    54.903    56.584   54.687  ...  36.049    36.158  17418997.0
2015-10-27    55.626    56.378   55.256  ...  36.067    36.178  35532465.0
2015-10-28    55.730    55.964   54.403  ...  35.838    36.278  16098360.0
...              ...       ...      ...  ...     ...       ...         ...
2020-10-14    44.000    44.060   42.820  ...  49.650    50.120  10582935.0
2020-10-15    42.800    42.950   40.760  ...  49.300    49.990   9963190.0
2020-10-16    40.820    42.450   40.020  ...  49.870    50.030  13570887.0
2020-10-19    42.930    43.400   42.280  ...  49.460    49.620   9930443.0
2020-10-20    42.600    43.080   41.440  ...     NaN       NaN         NaN

[1290 rows x 20 columns]

In [ ]:
data_all.describe().T

In [22]:
data_all.columns

Index(['pkn_open', 'pkn_high', 'pkn_low', 'pkn_close', 'pkn_volume',
       'pzu_open', 'pzu_high', 'pzu_low', 'pzu_close', 'pzu_volume', 'ge_open',
       'ge_high', 'ge_low', 'ge_close', 'ge_volume', 'co_open', 'co_high',
       'co_low', 'co_close', 'co_volume'],
      dtype='object')

In [25]:
data_close = [col for col in data_all.columns if col.endswith('close')]
data_close

['pkn_close', 'pzu_close', 'ge_close', 'co_close']

In [26]:
data_all[data_close]

            pkn_close  pzu_close  ge_close  co_close
Date
2015-10-22     54.169     29.331    26.566    36.712
2015-10-23     55.205     29.346    26.501    36.327
2015-10-26     55.843     29.604    26.538    36.158
2015-10-27     55.964     29.936    26.458    36.178
2015-10-28     55.153     29.945    26.392    36.278
...               ...        ...       ...       ...
2020-10-14     43.300     24.060     6.820    50.120
2020-10-15     40.800     22.930     6.870    49.990
2020-10-16     42.100     22.990     7.290    50.030
2020-10-19     42.640     22.530     7.290    49.620
2020-10-20     42.450     22.180       NaN       NaN

[1290 rows x 4 columns]

Diagrams