<a href="https://colab.research.google.com/github/mietekdom/Data_Science_Cases/blob/master/Stock_Market_All.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import plotly
import pandas as pd
import plotly
import plotly.graph_objects as go

In [3]:
import plotly.express as px

In [4]:
def fetch_financial_data(company):
  import pandas_datareader.data as web
  return web.DataReader(name=company, data_source='stooq')

pzu = fetch_financial_data('PZU.PL')
pkn = fetch_financial_data('PKN.PL')
ge = fetch_financial_data('GE')
co = fetch_financial_data('KO')

In [5]:
pzu.columns = ['pzu_' + col.lower() for col in pzu.columns]
pkn.columns = ['pkn_' + col.lower() for col in pkn.columns]
ge.columns = ['ge_' + col.lower() for col in ge.columns]
co.columns = ['co_' + col.lower() for col in co.columns]

In [6]:
data_all = pd.concat(objs=[pkn, pzu, ge, co], axis=1)
data_all

            pkn_open  pkn_high  pkn_low  ...  co_low  co_close   co_volume
Date                                     ...
2015-10-23    54.256    55.549   53.565  ...  36.295    36.327  22139327.0
2015-10-26    54.903    56.584   54.687  ...  36.049    36.158  17418997.0
2015-10-27    55.626    56.378   55.256  ...  36.067    36.178  35532465.0
2015-10-28    55.730    55.964   54.403  ...  35.838    36.278  16098360.0
2015-10-29    54.989    54.998   54.169  ...  35.946    36.327  11104173.0
...              ...       ...      ...  ...     ...       ...         ...
2020-10-14    44.000    44.060   42.820  ...  49.650    50.120  10582935.0
2020-10-15    42.800    42.950   40.760  ...  49.300    49.990   9963190.0
2020-10-16    40.820    42.450   40.020  ...  49.870    50.030  13570887.0
2020-10-19    42.930    43.400   42.280  ...  49.460    49.620   9930443.0
2020-10-20    42.600    43.080   41.440  ...  49.790    50.250  10972732.0

[1289 rows x 20 columns]

In [7]:
data_all.describe().T

             count          mean  ...           75%           max
pkn_open    1246.0  8.007004e+01  ...  9.635525e+01  1.229200e+02
pkn_high    1246.0  8.116589e+01  ...  9.772775e+01  1.229200e+02
pkn_low     1246.0  7.887649e+01  ...  9.527350e+01  1.208600e+02
pkn_close   1246.0  8.000321e+01  ...  9.641250e+01  1.225000e+02
pkn_volume  1246.0  1.066253e+06  ...  1.283904e+06  7.733447e+06
pzu_open    1246.0  3.345322e+01  ...  3.861400e+01  4.224600e+01
pzu_high    1246.0  3.381056e+01  ...  3.894375e+01  4.242300e+01
pzu_low     1246.0  3.303837e+01  ...  3.820150e+01  4.177200e+01
pzu_close   1246.0  3.342018e+01  ...  3.858575e+01  4.222800e+01
pzu_volume  1246.0  2.145377e+06  ...  2.562600e+06  1.472682e+07
ge_open     1257.0  1.727989e+01  ...  2.700400e+01  3.029000e+01
ge_high     1257.0  1.745259e+01  ...  2.728300e+01  3.032500e+01
ge_low      1257.0  1.710036e+01  ...  2.683500e+01  3.008500e+01
ge_close    1257.0  1.726850e+01  ...  2.706100e+01  3.026100e+01
ge_volume   1257.0  6.993697e+07  ...  8.557178e+07  4.802855e+08
co_open     1257.0  4.294113e+01  ...  4.644400e+01  5.828400e+01
co_high     1257.0  4.323152e+01  ...  4.677400e+01  5.859600e+01
co_low      1257.0  4.264268e+01  ...  4.598300e+01  5.810000e+01
co_close    1257.0  4.294063e+01  ...  4.632100e+01  5.859600e+01
co_volume   1257.0  1.446952e+07  ...  1.659914e+07  6.236257e+07

[20 rows x 8 columns]

In [8]:
data_all.columns

Index(['pkn_open', 'pkn_high', 'pkn_low', 'pkn_close', 'pkn_volume',
       'pzu_open', 'pzu_high', 'pzu_low', 'pzu_close', 'pzu_volume', 'ge_open',
       'ge_high', 'ge_low', 'ge_close', 'ge_volume', 'co_open', 'co_high',
       'co_low', 'co_close', 'co_volume'],
      dtype='object')

In [9]:
data_close = [col for col in data_all.columns if col.endswith('close')]
data_close

['pkn_close', 'pzu_close', 'ge_close', 'co_close']

In [12]:
data_all[data_close]

            pkn_close  pzu_close  ge_close  co_close
Date
2015-10-23     55.205     29.346    26.501    36.327
2015-10-26     55.843     29.604    26.538    36.158
2015-10-27     55.964     29.936    26.458    36.178
2015-10-28     55.153     29.945    26.392    36.278
2015-10-29     54.437     29.252    26.348    36.327
...               ...        ...       ...       ...
2020-10-14     43.300     24.060     6.820    50.120
2020-10-15     40.800     22.930     6.870    49.990
2020-10-16     42.100     22.990     7.290    50.030
2020-10-19     42.640     22.530     7.290    49.620
2020-10-20     42.450     22.180     7.340    50.250

[1289 rows x 4 columns]

Diagrams

In [14]:
fig = px.line(data_close, x='Date', y='pkn_close', title='Life expectancy in Canada')
fig.show()

ValueError: ignored