<a href="https://colab.research.google.com/github/mietekdom/Data_Science_Cases/blob/master/PKN_Orlen/PKN_Orlen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import plotly
plotly.__version__

'4.4.1'

In [3]:
import plotly.express as px

In [18]:
def fetch_financial_data(company='PKN.PL'): # Olren
  import pandas_datareader.data as web
  return web.DataReader(name=company, data_source='stooq')

df = fetch_financial_data()
df = df.reset_index()
df.head()

        Date   Open   High    Low  Close   Volume
0 2020-10-20  42.60  43.08  41.44  42.45   867743
1 2020-10-19  42.93  43.40  42.28  42.64  1263641
2 2020-10-16  40.82  42.45  40.02  42.10  1213883
3 2020-10-15  42.80  42.95  40.76  40.80  1573861
4 2020-10-14  44.00  44.06  42.82  43.30  1779708