<a href="https://colab.research.google.com/github/mietekdom/Data_Science_Cases/blob/master/PKN_Orlen/PKN_Orlen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import plotly
plotly.__version__

'4.4.1'

In [3]:
import plotly.express as px

In [18]:
def fetch_financial_data(company='PKN.PL'): # Olren
  import pandas_datareader.data as web
  return web.DataReader(name=company, data_source='stooq')

df = fetch_financial_data()
df = df.reset_index()
df.head()

        Date   Open   High    Low  Close   Volume
0 2020-10-20  42.60  43.08  41.44  42.45   867743
1 2020-10-19  42.93  43.40  42.28  42.64  1263641
2 2020-10-16  40.82  42.45  40.02  42.10  1213883
3 2020-10-15  42.80  42.95  40.76  40.80  1573861
4 2020-10-14  44.00  44.06  42.82  43.30  1779708

In [20]:
df.head(10)

        Date   Open   High    Low  Close   Volume
0 2020-10-20  42.60  43.08  41.44  42.45   867743
1 2020-10-19  42.93  43.40  42.28  42.64  1263641
2 2020-10-16  40.82  42.45  40.02  42.10  1213883
3 2020-10-15  42.80  42.95  40.76  40.80  1573861
4 2020-10-14  44.00  44.06  42.82  43.30  1779708
5 2020-10-13  44.72  45.00  43.16  43.94  1420674
6 2020-10-12  45.98  46.18  44.58  44.70  1148098
7 2020-10-09  46.40  46.40  44.93  45.83  1252860
8 2020-10-08  46.92  46.95  45.97  46.66   829313
9 2020-10-07  46.76  46.87  46.15  46.76   678914

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1247 entries, 0 to 1246
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1247 non-null   datetime64[ns]
 1   Open    1247 non-null   float64
 2   High    1247 non-null   float64
 3   Low     1247 non-null   float64
 4   Close   1247 non-null   float64
 5   Volume  1247 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 58.6 KB