<a href="https://colab.research.google.com/github/mietekdom/Data_Science_Cases/blob/master/Appstore/Appstore.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Impot biblotek

In [2]:
import pandas as pd
pd.__version__

'1.0.5'

In [ ]:
Import danych

In [3]:
url = 'https://storage.googleapis.com/esmartdata-courses-files/ds-bootcamp/appstore_games.csv'
df_raw = pd.read_csv(url)
df_raw.head()

                                                 URL  ...  Current Version Release Date
0   https://apps.apple.com/us/app/sudoku/id284921427  ...                    30/05/2017
1  https://apps.apple.com/us/app/reversi/id284926400  ...                    17/05/2018
2  https://apps.apple.com/us/app/morocco/id284946595  ...                     5/09/2017
3  https://apps.apple.com/us/app/sudoku-free/id28...  ...                    30/05/2017
4  https://apps.apple.com/us/app/senet-deluxe/id2...  ...                    22/07/2018

[5 rows x 18 columns]

Preprocessing

In [4]:
df_raw.columns

Index(['URL', 'ID', 'Name', 'Subtitle', 'Icon URL', 'Average User Rating',
       'User Rating Count', 'Price', 'In-app Purchases', 'Description',
       'Developer', 'Age Rating', 'Languages', 'Size', 'Primary Genre',
       'Genres', 'Original Release Date', 'Current Version Release Date'],
      dtype='object')

In [5]:
df = df_raw.copy() #kopiujemy orginalny plik

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17007 entries, 0 to 17006
Data columns (total 18 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   URL                           17007 non-null  object
 1   ID                            17007 non-null  int64
 2   Name                          17007 non-null  object
 3   Subtitle                      5261 non-null   object
 4   Icon URL                      17007 non-null  object
 5   Average User Rating           7561 non-null   float64
 6   User Rating Count             7561 non-null   float64
 7   Price                         16983 non-null  float64
 8   In-app Purchases              7683 non-null   object
 9   Description                   17007 non-null  object
 10  Developer                     17007 non-null  object
 11  Age Rating                    17007 non-null  object
 12  Languages                     16947 non-null  object
 13  Size                          17006 non-null  float64
 14  Primary Genre                 17007 non-null  object
 15  Genres                        17007 non-null  object
 16  Original Release Date         17007 non-null  object
 17  Current Version Release Date  17007 non-null  object
dtypes: float64(4), int64(1), object(13)
memory usage: 2.3+ MB

In [7]:
df = df.drop(columns=['URL', 'Icon URL', 'Subtitle', 'Description', 'In-app Purchases']) #usuwamy niepotrzebne kolumny
df.head()

          ID           Name  ...  Original Release Date  Current Version Release Date
0  284921427         Sudoku  ...             11/07/2008                    30/05/2017
1  284926400        Reversi  ...             11/07/2008                    17/05/2018
2  284946595        Morocco  ...             11/07/2008                     5/09/2017
3  285755462  Sudoku (Free)  ...             23/07/2008                    30/05/2017
4  285831220   Senet Deluxe  ...             18/07/2008                    22/07/2018

[5 rows x 13 columns]

In [9]:
df = df.set_index('ID') # ustawiamy 'ID' jako index
df.head()

                    Name  ...  Current Version Release Date
ID                        ...
284921427         Sudoku  ...                    30/05/2017
284926400        Reversi  ...                    17/05/2018
284946595        Morocco  ...                     5/09/2017
285755462  Sudoku (Free)  ...                    30/05/2017
285831220   Senet Deluxe  ...                    22/07/2018

[5 rows x 12 columns]

In [10]:
df.describe() #ogólne statystyki odnosnie danych

       Average User Rating  User Rating Count         Price          Size
count          7561.000000       7.561000e+03  16983.000000  1.700600e+04
mean              4.060905       3.306531e+03      0.813419  1.157064e+08
std               0.751428       4.232256e+04      7.835732  2.036477e+08
min               1.000000       5.000000e+00      0.000000  5.132800e+04
25%               3.500000       1.200000e+01      0.000000  2.295014e+07
50%               4.500000       4.600000e+01      0.000000  5.676895e+07
75%               4.500000       3.090000e+02      0.000000  1.330271e+08
max               5.000000       3.032734e+06    179.990000  4.005591e+09

In [12]:
df.describe(include=['object']).T #ogólne statystyki odnosnie danych (inny widok)

                              count  ...   freq
Name                          17007  ...      2
Developer                     17007  ...    123
Age Rating                    17007  ...  11806
Languages                     16947  ...  12467
Primary Genre                 17007  ...  16286
Genres                        17007  ...    778
Original Release Date         17007  ...     75
Current Version Release Date  17007  ...    118

[8 rows x 4 columns]

In [13]:
df.columns

Index(['Name', 'Average User Rating', 'User Rating Count', 'Price',
       'Developer', 'Age Rating', 'Languages', 'Size', 'Primary Genre',
       'Genres', 'Original Release Date', 'Current Version Release Date'],
      dtype='object')

In [17]:
df.columns = [col.lower().replace(' ', '_') for col in df.columns] # zmiana nazw kolumn (zamiana spacji na podkreslnik oraz wstawienie małych liter)
df.columns

Index(['name', 'average_user_rating', 'user_rating_count', 'price',
       'developer', 'age_rating', 'languages', 'size', 'primary_genre',
       'genres', 'original_release_date', 'current_version_release_date'],
      dtype='object')

In [18]:
df.average_user_rating

ID
284921427     4.0
284926400     3.5
284946595     3.0
285755462     3.5
285831220     3.5
             ...
1474626442    NaN
1474919257    NaN
1474962324    NaN
1474963671    NaN
1475076711    NaN
Name: average_user_rating, Length: 17007, dtype: float64